%body
  .wrapper
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group TEST-group
          %ul.main-header__left-box__member-list
            %p Member：
            %li.main-header__left-box__member-list__member takaya
        = link_to 'http://localhost:3000/groups/1/edit' do
          .main-header__edit-btn Edit
      .messages
        .message
          .message__upper-info
            %p.message__upper-info__talker takaya
            %p.message__upper-info__date 2019/03/06(Wed)13:40:23
          .message__text test
        .message
          .message__upper-info
            %p.message__upper-info__talker takaya2
            %p.message__upper-info__date 2019/03/07(Wed)13:40:23
          .message__text test2


      .form
        %form.new_message{:action => "/", :method => "post"}
          .input-box
            %input.input-box__text{:type => "text", :name => "name", :placeholder => "type a message"}
            %label.input-box__image{:for => "file_upload"}
              %input{:type => "file", :id => "file_upload"}
                %i.fas.fa-image
          %input.submit-btn{:type => "submit", :value => "Send"}

